version: "3.8"

services:
  c1:
    build:
      context: ./C1
      dockerfile: Dockerfile
    container_name: C1
    hostname: C1
    networks:
      lab_network:
        ipv4_address: 172.20.0.10
    tty: true
    stdin_open: true

  c2:
    build:
      context: ./C2
      dockerfile: Dockerfile
    container_name: C2
    hostname: C2
    networks:
      lab_network:
        ipv4_address: 172.20.0.11
    tty: true
    stdin_open: true

  c3:
    build:
      context: ./C3
      dockerfile: Dockerfile
    container_name: C3
    hostname: C3
    networks:
      lab_network:
        ipv4_address: 172.20.0.12
    tty: true
    stdin_open: true

  s1:
    build:
      context: ./S1
      dockerfile: Dockerfile
    container_name: S1
    hostname: S1
    networks:
      lab_network:
        ipv4_address: 172.20.0.13
    ports:
      - "2222:22"
    tty: true
    stdin_open: true

networks:
  lab_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1
